
# BEGIN INDEX
# Директивите (редовете) между `BEGIN INDEX` и `END INDEX` са
# динамично генерирани и трябва да се променят само чрез WordPress филтри.
# Всяка промяна на директивите между тези маркери ще бъде презаписана.
Options -Indexes
# END INDEX